node_modules/
backend/node_modules/
frontend/node_modules/

uploads/

frontend/build/

.DS_Store

backend/uploads/

backend/Vehicle_Load_Report_FINAL.pdf

# Environment files
*.env
backend/.env
backend/env-production.txt

backend/.env

.DS_Store
backend/assets/.DS_Store
backend/.env
backend/uploads/
